:root {
  --white: #fff;
  --green: #6FCF97;
  --blue: #66D2EA;
  --purple: #BC9CFF;
  --dark: #1F2041;
  --dark75: rgba(31, 32, 65, 0.75);
  --dark50: rgba(31, 32, 65, 0.5);
  --dark25: rgba(31, 32, 65, 0.25);
  --dark5: rgba(31, 32, 65, 0.05);

  --primaryGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  --secondaryGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

  --borderShadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  --headerHeight: 4.375rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
body {
  font-family: "Montserrat";
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark);
}

h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: var(--dark);
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--dark);
}


body {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark75);
  background-color: #E5E5E5;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1400px;
  padding: 0px 15px;
  margin: 0 auto;
}

.footer {
  flex: 0 0 auto;

}
